body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 20px;
  background-color: #000;
  color: #0f0;
}

/* Updated styles for input and select elements */
input[type="text"], select {
  width: 500px;
  height: 30px;
  margin-right: 10px;
  background-color: #222;
  color: #0f0;
  border: none;
  /* Neon effect on hover */
  transition: background-color 0.3s ease-in-out;
}

input[type="text"]:hover, select:hover {
  background-color: #2f4ac5; /* Neon green on hover */
}

/* Updated styles for buttons */
button {
  height: 30px;
  margin-right: 10px;
  font-size: 100%;
  background-color: #f00;
  color: #fff;
  border: none;
  /* Neon effect on hover */
 
}

button:hover {
  background-color: #1c9e38;
}

/* Updated styles for the terminal output */
#terminal-output {
  width: 40%;
  height: 200px;
  border: 1px solid #0f0;
  padding: 80px;
  overflow-y: scroll;
  background-color: #222;
  margin-top: -18%;
  margin-left: 40%;
  margin-bottom: 0%;
  
}

/* Updated styles for the script dropdown */
#script-dropdown {
  width: 543px;
  height: 100px; /* Adjust this value to your preference */
  /* Neon effect on hover */
  border: 1px solid #0f0;
  transition: background-color 0.3s ease-in-out;
}

#script-dropdown:hover {
  background-color: #2f4ac5; /* Neon green on hover */
}

#script-path { 
border: 1px solid #0f0;
padding: 20px;
font-size: 130%;
}

#script-dropdown { 
font-size: 130%;
}

#run-python {
margin-top: 2%;
}

#script-selection {

}

